h1 {
    color: black;
    background-color: rgb(13, 13, 129);
}
body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(200, 211, 216);
    color: #1E1E1E;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    vertical-align: baseline

}
h2 {
    background-color: green;
}

img {
    shape-margin: circle;
}