h1 {
    color: rgb(1, 0, 7);
    background-color: rgb(81, 81, 83);
    font-family: fantasy;
}
body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(200, 211, 216);
    color: #1E1E1E;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    vertical-align: baseline

}
h2 {
    background-color: rgb(50, 238, 13);
}

img {
    shape-margin: circle;
}